{% extends 'rbti_app/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
	<!-- <p>NIM</p> {{ form.NIM }}
    <p>Id Buku</p> {{ form.Id_Buku }}
    <p>Tanggal Peminjaman</p> {{ form.Tanggal_Peminjaman}} -->
    {{form|crispy}}
    <button type="submit">Submit</button>

</form>
{% endblock content %}