{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'rbti_app/css/bootstrap.min.css' %}">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{% static 'rbti_app/css/mdb.min.css' %}">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'rbti_app/css/style.css' %}">
  <!-- MDBootstrap Datatables  -->
  <link href="{% static 'rbti_app/css/addons/datatables2.min.css' %}" rel="stylesheet">
</head>
<body>

  <!-- Start your project here-->
  <nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#">RBTI Universitas Brawijaya</a>
  </nav>
  <main class=container>
  {% block content %}

  {% endblock  %}
  </main>
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="{% static 'rbti_app/js/jquery.min.js' %} "></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'rbti_app/js/popper.min.js' %} "></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'rbti_app/js/bootstrap.min.js' %} "></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'rbti_app/js/mdb.min.js' %} "></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="{% static 'rbti_app/js/addons/datatables2.min.js' %}"></script>
  <script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
  </script>

</body>
</html>































