{% extends 'rbti_app/index.html' %}
{% block content %}
<div class = "row">
<div class = "col-4">
<div class="card mt-4">
    <ul class="list-group list-group-flush">
      <a href = "{% url 'rbti_app:peminjaman' %}" class="list-group-item">Peminjaman</a>
      <a  class = "list-group-item active">List Buku</a>
    </ul>
  </div>
</div>
<div class="col-8">
<table id="dtBasicExample" class="table table-hover table-sm mt-2 " cellspacing="0" width="100%">
  <thead>
        <tr>
            <th>ID</th>
            <th>Judul</th>
            <th>Penulis</th>
            <th>Penerbit</th>
            <th>Tahun</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{book.0}}</td>
            <td>{{book.1}}</td>
            <td>{{book.2}}</td>
            <td>{{book.3}}</td>
            <td>{{book.4}}</td>
            <td> <a class = "btn" href = "{% url 'rbti_app:create_peminjaman' %}{{book.0}}" class="btn btn-outline-secondary ">Pinjam</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<script>
$(document).ready(function () {
   $('#dtBasicExample').DataTable();
   $('.dataTables_length').addClass('bs-select');
});
</script>
{% if message %}
<script>
 alert("{{message}}");
</script>
{% endif %}
{% endblock content %}