{% extends 'rbti_app/index.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% if book %}
<h1>Anda akan meminjam buku dengan judul <b>{{book.1}}</b></h1>
{% endif %}
<div id = "detail_mahasiswa">
    <div id="nim_mahasiswa"></div>
    <div id="nama_mahasiswa"></div>
    <div id="email_mahasiswa"></div>
</div>
<form method = 'POST'>
    {% csrf_token %}
    <div class = "form-group col-md-5 nim-handler">
        <label> NIM </label>
        <input class="form-control form-control-sm" rows="1" id = "NIM" name="NIM"> </input>
        <button type="button" id="nim_button">Submit NIM</button>
    </div>
    <div class="form-row"id="id_buku">
        {% if book %}
        <div class="form-group col-md-10 id_buku_select">
            <label>ID Buku</label>
            <input class="form-control form-control-sm" name="id_buku_form" value={{book.0}} disabled> </input>
        </div>
        {% else %}
        <div class="form-group col-md-10 id_buku_select">
            <label>ID Buku</label>
            <input class="form-control form-control-sm" name="id_buku_form">  </input>
        </div>
        {% endif %}
        <div class="form-group col-md-4">
            <button type="button"  id="button_plus_active">+</button>
        </div>
    </div>
    <button type="submit">Submit</button>

</form>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="{% static 'rbti_app/js/peminjaman_form.js' %}"></script>
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
{% endblock content %}
