{% extends 'rbti_app/index.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<div class = "row">
    <div class = "col-">
    <div class="card mt-4">
        <ul class="list-group list-group-flush">
          <a class="list-group-item active">Peminjaman</a>
          <a href = "{% url 'rbti_app:home' %}" class = "list-group-item">List Buku</a>
        </ul>
    </div>
      </div>
<div class = "col-8">
<table id="dtBasicExample" class="table table-hover table-sm mt-2 " cellspacing="0" width="100%">
  <thead>
        <tr>
            <th>ID Buku</th>
            <th>Npm Peminjam</th>
            <th>Tanggal Peminjaman</th>
            <th>Tanggal Pengembalian</th>
        </tr>
    </thead>
    <tbody>
        {% for case in peminjamans %}
        <tr>
            <td>{{case.id_buku_id}}</td>
            <td>{{case.npm.npm}}</td>
            <td>{{case.tanggal_peminjaman}}</td>
            <td>{{case.tanggal_pengembalian}}</td>
            <td><button type=button><a href=#> UPDATE </a></button></td>
        </tr>

        {% endfor %}
    </tbody>
</table>

</div>
<div class = "col-1">
    <a href="{% url 'rbti_app:create_peminjaman' %}{{0}}" class="btn"> Input Peminjaman </a>
</div>
</div>
<script>
$(document).ready(function () {
   $('#dtBasicExample').DataTable();
   $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock content %}